body{
    min-height: 100vh;
    display: grid;
    place-items: center;

}

.container-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    min-height: 500px;
    background-color: var(--bg-card);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
}

.container-login-left{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
}


h1{
    padding: 10px 10px 30px 10px;
}
label{
    display: block;
    padding: 10px 0;
    margin-top: 10px;
}

button{
    display: block;
}

input{
    padding: 10px 10px;
    width: 100%;
    background-color: var(--bg-main);
    border: none;
    border-radius: 8px;
    color: var(--text-secondary);
}

input:focus{
    outline: none;
    border-color: var(--input-focus);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}


input:hover{
    border-color: var(--input-focus);
    box-shadow: 0 0 0 3px rgba(59, 131, 246, 0.116);
}
button{
    padding: 25px 10px;
    margin-top: 40px;
    width: 100%;
    background-color: var(--btn-primary-bg);
    border: none;
    border-radius: 8px;
    color: var(--btn-primary-text);
}

button:hover{
    background-color: var(--btn-primary-hover);
    cursor: pointer;
}   

button:active{
    background-color: var(--btn-primary-active);
}

.container-login-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--primary-gradient);
    padding: 60px;
    color: var(--btn-primary-text);
    
}

.container-login-right h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.container-login-right p{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
}