body.layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "menu header"
    "menu main";
}

header.layout__header{
    grid-area: header;
    background-color: blue;
}


aside.layout__menu{
    grid-area: menu;
    background: var(--primary-gradient);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
aside.layout__menu nav .title__app{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-white);
    opacity: 0.9;
    text-align: center;
    padding: 1rem 0;

}

aside.layout__menu nav ul{
    margin: 10px;
    padding: 20px 0;
    border-top: 2px solid var(--border-dark);;
}

aside.layout__menu nav ul li{
    line-height: 0;

}
aside.layout__menu nav ul li a{
    color: var(--text-white);
    text-decoration: none;
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: var(--transition-fast);
    border-radius: 6px;

}

aside.layout__menu nav ul li a:hover{
    background-color: var(--primary-600);
    opacity: 0.96;
}

aside.layout__menu nav ul li a {
    font-size: 1.25rem;
}
main.layout__main{
    grid-area: main;
    background-color: lavenderblush;
}

.layout_container-logout{
    margin: 10px ;
    padding: 32px 0 12px 0;
    border-top: 2px solid var(--border-dark);

    transition: var(--transition-fast);
}
.layout .layout__logout {
    /* 1. Quitamos lo feo del botón por defecto */
    background: transparent;
    border: none;
    cursor: pointer; /* Para que salga la manito al pasar el mouse */
    font-family: inherit; /* Para que use la misma letra que el resto */
    
    /* 2. Le ponemos los mismos estilos que a tus enlaces */
    color: var(--text-white); /* O el color que usas en el menú */
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1rem 1.6rem;
    width: 100%; /* Para que ocupe todo el ancho */
    transition: var(--transition-base);
        border-radius: 8px;
}
.layout .layout__logout i {
    font-size: 1.5rem; /* Tamaño del ícono */
}

/* Y el efecto hover para que reaccione igual */
.layout .layout__logout:hover {
    background-color: var(--error-500); /* Rojo para salir */
    opacity: 0.96;
}