body.layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "menu header"
    "menu main";
}

header.layout__header{
    grid-area: header;
    background-color: blue;
}


aside.layout__menu{
    grid-area: menu;
    background: var(--primary-gradient);
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
aside.layout__menu nav .title__app{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-white);
    opacity: 0.9;
    text-align: center;
    padding: 1rem 0;

}

aside.layout__menu nav ul li a{
    color: var(--text-white);
    text-decoration: none;
    padding: 1rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 12px;

}

aside.layout__menu nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

aside.layout__menu nav ul li a {
    font-size: 1.25rem;
}
main.layout__main{
    grid-area: main;
    background-color: lavenderblush;
}